body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

table {
    position: relative;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table a {
    text-decoration: none;
    color: black;
}
